
.account-card {
    display: flex;
    width: 100%;
}

.account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selected-account {
    border: 2px solid var(--accent);
    background-color: var(--card);
}


.active-period,
.active-account {
    color: var(--text);
    font-weight: 600;
}

.active-period {
    color: var(--muted);
    font-weight: 400;
    font-size: 13px;
}


