
.account-card {
    display: flex;
    background-color: var(--shadow-2);
    width: 100%
}

.account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selected-account {
    border: 1px solid var(--positive);
    background-color: var(--card);
}



