
.account-card {
    display: flex;
    background-color: var(--shadow-2);
    width: 100%
}

.account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selected-account {
    border: 1px solid var(--positive);
    background-color: var(--card);
}


.active-period,
.active-account {
    color: #c8d4d0;
    font-weight: 600;
}

.active-period {
    font-weight: 400;
    font-size: 12px;
}


